.daizy-wrapper {
	
	.button {
		background-color: var(--teal);
		border: 1px solid var(--teal);
		border-radius: 0.25em;
		padding: var(--daizy-space-small) var(--daizy-space-medium);
	}
	
	.button.primary {
		background-color: var(--olive);
		border-color: var(--olive);
		border: 1px solid var(--olive);
	}
	
	.button.outlined {
		background: none;
	}
	
	.button.clear {
		background: none;
		border-color: transparent;
		color: inherit;
	}
}
