.daizy-wrapper {
	.text-bold {
		font-weight: bold;
	}
	.text-normal {
		font-weight: normal;
	}
	.text-italic {
		font-style: italic;
	}
	.text-uppercase {
		text-transform: uppercase;
	}
	.text-lowercase {
		text-transform: lowercase;
	}
	.text-left {
		text-align: left;
	}
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	.text-justify {
		text-align: justify;
	}
	.text-nowrap {
		white-space: no-wrap;
	}
	.text-unerline {
		text-decoration: underline;
	}
	.text-truncated  {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.text-font-inherit {
		font: inherit;
	}
	.text-font-size-inherit {
		font-size: inherit;
	}
	.text-font-family-inherit {
		font-family: inherit;
	}
	.text-decoration-none {
		font-family: inherit;
	}
	
	.list-reset {
		list-style: none;
		padding-left: 0;
	}
	
	.float-left {
		float: left;
	}
	.float-right {
		float: right;
	}
	.float-none {
		float: nonne;
	}
	
	.clearfix {
	}
	.clearfix:after {
		clear: both;
	}
	.clearfix:after, .clearfix:before {
		content: " ";
		display: table;
	}
	
	.full-width {
		width: 100%;
		max-width: none;
	}
	
	.inline {
		display: inline;
	}
	.inline-block {
		display: inline-block;
	}
}
