@import '_variables';

html, body {
	font-size: $daizy-base-font-size;
	margin: 0;
	padding: 0;
}
body{
/* 	height: 100%; */
	padding: 0;
	max-width: 100%;
	min-width: 16em;
}

.daizy-wrapper {
	
	noscript.nojs {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99999;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		font-size: 3em;
		z-index: 100;
	}
	
	.page-loader {
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		z-index: 99;
	}
	
	*[hidden] { display: none; }
}