.daizy-wrapper {
	
	.navbar .search .input-group input {
		border-right: none;
	}
	
	.navbar .navbar-toggler {
		border: none;
	}
	
	.navbar .dropdown-menu {
		border: none;
	}
	
	hr.navbar-bottom {
		margin-top: 0;
	}
	
}
