:root {
  --fore-color: #111;
  --secondary-fore-color: #444;
  --back-color: #f8f8f8;
  --secondary-back-color: #f0f0f0;
  --blockquote-color: #f57c00;
  --pre-color: #1565c0;
  --border-color: #aaa;
  --secondary-border-color: #ddd;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.125rem;
  --a-link-color: #0277bd;
  --a-visited-color: #01579b;
  --background-color: var(--back-color);
  --link-color: var(--a-link-color);
  --visited-link-color: var(--a-link-color);
}
html, body {
  height: 100%;
}
noscript[data-show="true"] {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: var(--background-color);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
.page-loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--back-color);
}
.animation-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
header {
  display: flex;
  align-items: center;
}
header .search {
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
  border: none;
  display: inline-flex;
  flex-grow: 1;
}
header .search input {
  background-color: transparent;
  margin: 0;
  border: none;
  flex-grow: 1;
  width: 1px;
}
header .language-switcher select {
  border: none;
  cursor: pointer;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
header [type="checkbox"].drawer + * .caption {
  display: inline-block;
  text-transform: none;
}
/*
 Amikor nyitva van a fejlécben a hamburger menü:
 */
header [type="checkbox"].drawer:checked + * {
  max-width: 80%;
  padding-right: 3em;
}
header [type="checkbox"].drawer:checked + * > * {
  display: block;
  text-align: left;
}
@media screen and (min-width: 768px) {
  header [type="checkbox"].drawer:not(.persistent) + * {
    overflow: hidden;
    border: none;
  }
  header [type="checkbox"].drawer + * .caption {
    display: none;
  }
  header [type="checkbox"].drawer + * {
    width: auto;
  }
}
footer {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
}
footer .copyright {
  color: transparent;
}
.icon-svg {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
}
.icon-svg svg {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
main .collapse > :checked + label + div {
  height: 100%;
  max-height: 100%;
  background-color: transparent;
}
[hidden] {
  display: none !important;
}
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
[data-collapse-section-maximized] .page-wrapper {
  width: initial;
  margin: 0 0em;
  max-width: initial;
}
.block {
  display: block;
  width: 100%;
}
a.button.link {
  background-color: transparent;
  border: none;
  color: var(--a-link-color);
}
.page-wrapper.not-found-page {
  /*     position: fixed; */
  /*     z-index: 99999; */
  /*     top: 0; */
  /*     left: 0; */
  /*     right: 0; */
  /*     bottom: 0; */
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--back-color);
}
