.login-area {
	height: 100%;
	margin-top: 10vh;
	text-align: center;
	justify-content: center;
}

.login-area input {
	width: 100%;
}

.login-area .language-switcher select {
    border: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

.login-area :placeholder-shown{
	text-align: center;
}
.login-area :placeholder-shown:hover{
	font-style: italic;
}
.login-area :placeholder-shown:focus{
	font-weight: bold;
	font-style: normal;
}
