/*
    Mini.css kiegészítések
*/

.drawer-toggle {
    cursor: pointer;
}

.collapse>label {
    height: auto;
}

.collapse>label {
	display: flex;
}
.collapse>label > *:first-child {
	flex-grow: 1;
}