.page-wrapper.not-found-page {
  /*     position: fixed; */
  /*     z-index: 99999; */
  /*     top: 0; */
  /*     left: 0; */
  /*     right: 0; */
  /*     bottom: 0; */
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--back-color);
}
