html, body {
	height: 100%;
	margin: 0;
}

body{
	position: relative;
}

.hidden{
	display: none;
}

noscript.js-disabled {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	text-align: center;
	background-color: inherit;
	font-size: 2em;
}

.material-icons{
	vertical-align: bottom;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } 
}            
.animate-spin {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

/*
		PAGE LOADER
		Original source: https://codepen.io/brunjo/pen/XJmbNz
*/
.page-loader  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0.2em;
	z-index: 2000;
	width: 100%;
	overflow: hidden;
	background-color: var(--warning);
}
.page-loader:before {
	display: block;
	position: absolute;
	content: "";
	height: 0.2em;
	height: 100%;
	background-color: var(--info);
	animation: page-loading 2s linear infinite;
}

@keyframes page-loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
/*
		END!!! PAGE LOADER
*/
